<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303553371633-ej0ghpdfjm3oqg56cvqh86nl4t9oqsc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303553371633-ej0ghpdfjm3oqg56cvqh86nl4t9oqsc8</string>
	<key>API_KEY</key>
	<string>AIzaSyDoQAu0CENS5-hAJpoGp8o4b69o8jtLUtA</string>
	<key>GCM_SENDER_ID</key>
	<string>303553371633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.abner.traz-ae</string>
	<key>PROJECT_ID</key>
	<string>traz-ae</string>
	<key>STORAGE_BUCKET</key>
	<string>traz-ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303553371633:ios:b009c3828a7aa7462ef850</string>
</dict>
</plist>